body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
}

#container {
  margin: 0 auto;
  width: 70%;
  background: #111;
  padding: 20px;
  border: 1px #222 solid;
}

#header h1 { margin: 0; }
#nav ul { margin: 0; }
#nav li {
  font-weight: bold;
  float: right;
  list-style: none;
  margin-left: 10px;
}

#header a, #nav a {
  color: rgb(28, 161, 202);
  text-decoration: none;
}

#header a:hover, #nav a:hover {
  color: rgb(157, 204, 255);
  text-decoration: underline;
}

article a {
  color: #FEFEF2;
  text-decoration: none;
}
article a:hover {
  color: white;
  text-decoration: underline;
}

a { color: #FEF0C9; text-decoration: none; }
a:hover { color: #FEF6E4; text-decoration: underline; }

article {
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: black;
}

#content article:nth-child(5n+1) { background: #1768AC; }
#content article:nth-child(5n+2) { background: #D64045; }
#content article:nth-child(5n+3) { background: #44CF6C; }
#content article:nth-child(5n+4) { background: #32A287; }
#content article:nth-child(5n+5) { background: #6C464E; }

.sample .name {
  font-size: 22px;
  padding-bottom: 5px;
  color: #fee;
}

.sample .info {
  color: #B0F0F8;
}

blockquote {
  font-style: italic;
}
